.App {
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.bloc {
  width:25vw;
  height: auto;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  border-color: white;
}
.title {
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  align-items: center;
  color: blueviolet
}
