.App {
  display: flex;
  margin: auto;
  justify-content: space-around;
}
.bloc {
  width:25vw;
  height: auto;
  background-color: white;
  padding: 10px;
  border-radius: 3px;
  border-color: white;
}
.title {
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  align-items: center;
  color: blueviolet;
  font-weight: 100
}
.subTitle {
  padding: 2px 0;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 900;
  line-height: 18px;
  color: blueviolet
}
.flexGrow {
  flex: 3;
}
.divSubTitle {
  display: flex;
  justify-content: space-between;
}
.total {
  padding: 2px 0;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 900;
  line-height: 18px;
  color: blueviolet
}
.input {
  align-self: center;
  margin-top: 10px;
  padding: 5px;
  width: 95%;
  height: auto;
  border: 1px solid lightgray;
  border-radius: 2px;
  color: #424242;
  font-size: 14px;
}
input:focus {
  border: 1px solid violet;
}
.button {
  align-self: center;
  margin: 20px;
  padding: 5px;
  width: 70%;
  height: auto;
  border: none;
  background-color: blueviolet;
  border-radius: 2px;
  color: white;
  font-size: 14px;
}
.list {
  padding: 2px 0;
  margin: 0;
  line-height: 30px;
  font-size: 13px;
  color: darkorchid;
  border-top: 1px solid lightgrey;
}
.list1 {
  padding: 2px 0;
  margin: 0;
  line-height: 30px;
  background-color: #EEEEEE;
  font-size: 13px;
  color: darkorchid;
  border-top: 1px solid lightgrey;
}
.divList {
   border-bottom: 1px solid lightgray;
}